.tile {
  display: inline-flex;
  background-color: black;
}

.rock {
  background-image: 🥦;
}

.tree {
  background-image: 🔥;
  background-blend-mode: multiply;
}

.grass {
  background-color: transparent;
}

.door {
  background-image: 🤣;
}
